/dts-v1/;

#include "x9-xen.dtsi"
#include "cpus-ap1-xen.dtsi"
#include "display-xen.dtsi"
#include "clk-xen.dtsi"
#include "x9-clk-common-xen.dtsi"
#include "lcd-timings-xen.dtsi"
#include "vdsp-xen.dtsi"
#include "x9-gpu.dtsi"
#include "x9-import.dtsi"
#include "reserved-mem-xen.dtsi"

/ {
	model = "Semidrive x9 EVB Board";

	compatible = "semidrive,kunlun";

	aliases {
		serial0 = &uart8;
		ethernet1 = &ethernet1;
		ethernet2 = &ethernet2;
	};

	memory@5c200000 {
		device_type = "memory";
		reg = <0x0 0x5c200000 0x0 0xa3e00000>,
		      <0x1 0x0 0x0 0x40000000>;
	};

        chosen {
                bootargs = "root=/dev/mmcblk0p17 rodata=off earlyprintk=xen console=hvc0 debug rw loglevel=3 cma=8M rootwait";
                xen,xen-bootargs = "console_to_ring console=dtuart dtuart=serial0 conswitch=x loglvl=error guest_loglvl=error console_timestamps=boot iommu=on sched=credit2 dom0_mem=256M gnttab_max_frames=64 gnttab_max_maptrack_frames=1024 dom0_max_vcpus=1 dom0_vcpus_pin=true credit2_runqueue=cpu";
                #address-cells = <0x02>;
                #size-cells = <0x02>;

                module@1 {
                        compatible = "xen,linux-zimage\0xen,multiboot-module";
                        reg = <0x00 0x5c280000 0x00 0x148a200>;
                };
        };

};

&cpu0 {
      reg = <0x00 0x00000000>;
      status = "okay";
};

&cpu1 {
      reg = <0x00 0x00000100>;
      status = "okay";
};

&cpu2 {
      reg = <0x00 0x00000200>;
      status = "okay";
};

&cpu3 {
      reg = <0x00 0x00000300>;
      status = "okay";
};

&cpu4 {
      reg = <0x00 0x00000400>;
      status = "okay";
};

&cpu5 {
      reg = <0x00 0x00000500>;
      status = "okay";
};

&psci {
	method = "smc";
};

&gic {
     compatible = "arm,cortex-a15-gic","arm,gic-400";
     reg = <0x0 0x35431000 0x0 0x1000>,
     	   <0x0 0x35432000 0x0 0x2000>,
           <0x0 0x35434000 0x0 0x2000>,
           <0x0 0x35436000 0x0 0x2000>;
};

&smmu {
      status = "okay";
};

&rtc {
	status = "okay";
	xen,passthrough;
};

&dmac2 {
	status = "okay";
        xen,passthrough;
        xen,mids = <10>;
        sid = <SDRV_SID_DMAC2>;
};

&dmac3 {
	status = "okay";
        xen,passthrough;
        xen,mids = <11>;
        sid = <SDRV_SID_DMAC3>;
};

&dmac4 {
	status = "okay";
        xen,passthrough;
        xen,mids = <12>;
        sid = <SDRV_SID_DMAC4>;
};

&dmac5 {
	status = "okay";
        xen,passthrough;
        xen,mids = <13>;
        sid = <SDRV_SID_DMAC5>;
};

&dmac6 {
	status = "okay";
        xen,passthrough;
        xen,mids = <14>;
        sid = <SDRV_SID_DMAC6>;
};

&dmac7 {
	status = "okay";
        xen,passthrough;
        xen,mids = <15>;
        sid = <SDRV_SID_DMAC7>;
};

&afe_i2s_sc4 {
	status = "okay";
        xen,passthrough;
};

&afe_i2s_sc5{
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC6_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC6_RX>;
	dma-names = "tx", "rx";
	status = "okay";
        xen,passthrough;
};

&afe_i2s_sc7{
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC8_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC8_RX>;
	dma-names = "tx", "rx";
	status = "okay";
        xen,passthrough;
};

&i2c0 {
      xen,passthrough;
};

&i2c1 {
      xen,passthrough;
};

&i2c2 {
      xen,passthrough;
};

&i2c3 {
      xen,passthrough;
};

&i2c4 {
      xen,passthrough;
};

&i2c5 {
        status = "okay";
        xen,passthrough;
	tlv320aic23: codec@1a {
		compatible = "ti,tlv320aic23";
		reg = <0x1a>;
	};
};


&i2c8 {
        status = "okay";
        xen,passthrough;

		ov5640:ov5640@3c {
			compatible = "ovti,ov5640";
			clocks = <&CSI_MCLK1>;
			clock-names = "csi-mclk";
			clock-frequency = <24000000>;
			reg = <0x3c>;
			powerdown-gpios = <&cam_gpio 8 0>;
			reset-gpios = <&cam_gpio 9 0>;
			port {
				#address-cells = <1>;
				#size-cells = <0>;

				ov5640_to_parallel: endpoint {
					remote-endpoint = <&csiparallel1_in>;
				};
			};
		};

		max9286:max9286@48 {
			compatible = "max,max9286";
			reg = <0x48>;
			pwdn-gpios = <&cam_gpio 2 0>;

			ports {
				port@0 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286_to_mipi_0: endpoint {
						remote-endpoint = <&csimipi0_0_in>;
					};
				};
				port@1 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286_to_mipi_1: endpoint {
						remote-endpoint = <&csimipi0_1_in>;
					};
				};
				port@2 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286_to_mipi_2: endpoint {
						remote-endpoint = <&csimipi0_2_in>;
					};
				};
				port@3 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286_to_mipi_3: endpoint {
						remote-endpoint = <&csimipi0_3_in>;
					};
				};
			};
		};

		max9286s:max9286s@2c {
			compatible = "max,max9286";
			reg = <0x2c>;
			pwdn-gpios = <&cam_gpio 5 0>;

			ports {
				port@0 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286s_to_mipi_0: endpoint {
						remote-endpoint = <&csimipi1_0_in>;
					};
				};
				port@1 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286s_to_mipi_1: endpoint {
						remote-endpoint = <&csimipi1_1_in>;
					};
				};
				port@2 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286s_to_mipi_2: endpoint {
						remote-endpoint = <&csimipi1_2_in>;
					};
				};
				port@3 {
					#address-cells = <1>;
					#size-cells = <0>;

					max9286s_to_mipi_3: endpoint {
						remote-endpoint = <&csimipi1_3_in>;
					};
				};
			};
		};

		max96706:max96706@78 {
			compatible = "max,max96706";
			clock-frequency = <24000000>;
			reg = <0x78>;
			powerdown-gpios = <&cam_gpio 11 0>;
			gpi-gpios = <&cam_gpio 10 0>;
			port {
				#address-cells = <1>;
				#size-cells = <0>;

				max96706_to_parallel: endpoint {
					remote-endpoint = <&csiparallel0_in>;
				};
			};
		};
};

&i2c9 {
        status = "okay";
        xen,passthrough;
	cam_gpio: gpio@74 {
		compatible = "ti,tca9539";
		reg = <0x74>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&i2c10 {
      xen,passthrough;
};

&i2c11 {
        status = "okay";
        xen,passthrough;
	ext_gpio: gpio@75 {
		compatible = "ti,tca9539";
		reg = <0x75>;
		#gpio-cells = <2>;
		gpio-controller;
	};
	tp_gpio: gpio@74 {
		compatible = "ti,tca9539";
		reg = <0x74>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&i2c13 {
       status = "okay";
       xen,passthrough;
       gt9271_14_j1805:gt9271_14_j1805@5d {
                //pinctrl-names = "default";
                //pinctrl-0 = <&pinctrl_gpiotouch_lvds>;
                compatible = "goodix,gt9271";
		irq-gpios = <&port4e 0 0>;	/*io80*/
                reset-gpios = <&tp_gpio 2 0>;	/*index 2*/
                reg = <0x5d>;
       };

};

&i2c14 {
	status = "okay";
        xen,passthrough;
	gt9271_15_j1805:gt9271_15_j1805@5d {
		//pinctrl-names = "default";
		//pinctrl-0 = <&pinctrl_gpiotouch_lvds>;
		compatible = "goodix,gt9271";
		irq-gpios = <&port4e 1 0>;	/*io81*/
		reset-gpios = <&tp_gpio 3 0>;		/*index 3*/
		reg = <0x5d>;
		dev_type = <1>;	/* 0: main device, 1: aux device */
	};
};

&i2c15 {
	status = "okay";
        xen,passthrough;
	gt9271_16_j2003:gt9271_16_j2003@5d {
		//pinctrl-names = "default";
		//pinctrl-0 = <&pinctrl_gpiotouch_mipi>;
		compatible = "goodix,gt9271";
		irq-gpios = <&port4d 9 0>;	/*io57*/
		reset-gpios = <&tp_gpio 8 0>;	/*index 8*/
		reg = <0x5d>;
	};
};

&uart8 {
	//dmas = <&dmac4 X9_DMA_SLV_ID_UART9_TX>, <&dmac4 X9_DMA_SLV_ID_UART9_RX>;
	//dma-names = "tx", "rx";
	status = "okay";
};

&generic_timer {
	status = "okay";
};

&display {
	sdriv,crtc = <&crtc1>;
	status = "okay";
        reg = <0x00 0x38419000 0x00 0x3000>;
        xen,passthrough;
};

&display1 {
	sdriv,crtc = <&crtc0 &crtc2>;
	status = "okay";
        reg = <0x00 0x38419000 0x00 0x3000>;
        xen,passthrough;
};

&dp1 {
	status = "okay";
	xen,passthrough;
};

&dp2 {
	status = "okay";
	xen,passthrough;
};

&dp3 {
	status = "okay";
	xen,passthrough;
};

&dc1 {
	status = "okay";
	xen,passthrough;
};

&dc2 {
	status = "okay";
	xen,passthrough;
};

&dc3 {
	status = "okay";
	xen,passthrough;
};

&dc4 {
	status = "okay";
	xen,passthrough;
};

&dc5 {
	status = "okay";
	xen,passthrough;
};

&crtc0 {
	dpc-master = <&dp1>;
	status = "okay";
        xen,passthrough;
        xen,mids = <19 23>;
        sid = <SDRV_SID_CRTC0>;
};

&crtc1 {
	dpc-master = <&dp2 &dc2>;
	status = "okay";
        xen,passthrough;
        xen,mids = <20 24>;
        sid = <SDRV_SID_CRTC1>;

	crtc1_out: port {
		crtc1_out_interface: endpoint@0 {
			remote-endpoint = <&lvds_in_crtc1>;
		};
	};
};

&crtc2 {
	dpc-master = <&dp3>;
	status = "okay";
        xen,passthrough;
        xen,mids = <21 25>;
        sid = <SDRV_SID_CRTC2>;
};

&lvds0 {
	lvds-select = <3>;
	status = "okay";
        xen,passthrough;
};

&lvds1 {
	lvds-select = <5>;
	dual-mode = <1>;
	status = "okay";
        xen,passthrough;
};

&lvds2 {
	lvds-select = <4>;
	status = "okay";
        xen,passthrough;
};

&dtimings0 {
	native-mode = <&hd1280x800>;
        xen,passthrough;
};

&dtimings1 {
	native-mode = <&fhd1920x720_1>;
        xen,passthrough;
};

&dtimings2 {
	native-mode = <&hd1280x800_2>;
        xen,passthrough;
};

&ptimings0 {
	status = "okay";
	xen,passthrough;
	port {
		parall_panel0_in: endpoint {
			remote-endpoint = <&lvds_out_timing0>;
		};
	};
};

&ptimings1 {
	status = "okay";
        xen,passthrough;
        port {
		parall_panel1_in: endpoint {
			remote-endpoint = <&lvds_out_timing1>;
		};
	};
};

&ptimings2 {
	status = "okay";
	xen,passthrough;
	port {
		parall_panel2_in: endpoint {
			remote-endpoint = <&lvds_out_timing2>;
		};
	};
};

&pinctrl {
        xen,passthrough;
	reg = <0x0 0x38500000 0x0 0x10000>;
	pinctrl-names = "default";

	sdx9-evk {
		pinctrl_mshc1: mshc1grp {
		kunlun,pins = <
			X9_PINCTRL_EMMC1_CLK__MSHC1_CLK_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_CMD__MSHC1_CMD_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA0__MSHC1_DATA_0_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA1__MSHC1_DATA_1_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA2__MSHC1_DATA_2_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA3__MSHC1_DATA_3_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA4__MSHC1_DATA_4_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA5__MSHC1_DATA_5_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA6__MSHC1_DATA_6_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA7__MSHC1_DATA_7_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_STROBE__MSHC1_STB_1	X9_PINCTRL_OPEN_DRAIN_ENABLE
			X9_PINCTRL_EMMC1_RESET_N__MSHC1_RST_N_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			>;
		};

		pinctrl_gpiotouch_lvds: touchgrp_lvds {
                        kunlun,pins = <
			X9_PINCTRL_I2S_MC_SD4__GPIO_MUX2_IO80_1          0x00
			X9_PINCTRL_I2S_MC_SD5__GPIO_MUX2_IO81_1          0x00
                        X9_PINCTRL_I2S_MC_SD6__GPIO_MUX2_IO82_1          0x00
                        X9_PINCTRL_I2S_MC_SD7__GPIO_MUX2_IO83_1          0x00
                        >;
                };
		pinctrl_gpiotouch_mipi: touchgrp_mipi {
                        kunlun,pins = <
			X9_PINCTRL_I2S_SC3_SCK__GPIO_MUX2_IO56_1          0x00
			X9_PINCTRL_I2S_SC3_WS__GPIO_MUX2_IO57_1          0x00
                        >;
                };
		pinctrl_sddetect: sddetect {
			kunlun,pins = <
			X9_PINCTRL_EMMC2_DATA1__GPIO_MUX2_IO99_1	X9_PINCTRL_OPEN_DRAIN_ENABLE
			>;
		};
	};
};

&gpio3 {
       status = "okay";
       xen,passthrough;
};

&port3a{
        xen,passthrough;
};

&port3b{
        xen,passthrough;
};

&port3c{
        xen,passthrough;
};

&port3d{
        xen,passthrough;
};

&port3e{
        xen,passthrough;
};

&gpio4 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_gpiotouch_lvds &pinctrl_gpiotouch_mipi>;
	status = "okay";
        xen,passthrough;
};

&port4a{
        xen,passthrough;
};

&port4b{
        xen,passthrough;
};

&port4c{
        xen,passthrough;
};

&port4d{
        xen,passthrough;
};

&port4e{
        xen,passthrough;
};

&gpio5 {
       status = "okay";
       xen,passthrough;
};

&port5a{
        xen,passthrough;
};

&port5b{
        xen,passthrough;
};

&port5c{
        xen,passthrough;
};

&port5d{
        xen,passthrough;
};

&port5e{
        xen,passthrough;
};

&sdhci1 {
	#clock-cells = <1>;
	clocks = <&EMMC1>;
	clock-names = "core";
	max-frequency = <200000000>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	card-is-emmc;
	disable-wp;
	cap-mmc-highspeed;
	keep-power-in-suspend;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&sdhci3 {
	#clock-cells = <1>;
	clocks = <&EMMC3>;
	clock-names = "core";
	max-frequency = <25000000>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_sddetect>;
	cd-gpios = <&port4e 19 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	no-1-8-v;
	no-mmc;
	no-sdio;
	disable-wp;
	keep-power-in-suspend;
	status = "okay";
        xen,passthrough;
        xen,mids = <34>;
        sid = <SDRV_SID_SDHCI3>;
};

&usbdrd3_0 {
	status = "okay";
        xen,passthrough;
};

&usb0 {
	status = "okay";
        xen,passthrough;
        xen,mids = <38>;
        sid = <SDRV_SID_USB0>;

};

&usbdrd_phy0 {
             status = "okay";
             xen,passthrough;
};

&usbdrd3_0 {
	status = "okay";
        xen,passthrough;
};

&usb1 {
	status = "okay";
        xen,passthrough;
        xen,mids = <39>;
        sid = <SDRV_SID_USB1>;

};

&usbdrd_phy1 {
             status = "okay";
             xen,passthrough;
};

&ethernet2 {
	status = "okay";
        /* xen,dom0-iommus; */
        xen,mids = <37>;
	sid = <SDRV_SID_ETH2>;
};

&vpu1 {
      resets = <&rstgen RSTGEN_MODULE_VPU1>;
      reset-names = "vpu-reset";
      status = "okay";
      xen,passthrough;
      xen,mids = <29>;
      sid = <SDRV_SID_VPU1>;
};

&vpu2 {
      	resets = <&rstgen RSTGEN_MODULE_VPU2>;
	reset-names = "vpu-reset";
        status = "okay";
        xen,passthrough;
        xen,mids = <30>;
        sid = <SDRV_SID_VPU2>;
};

&sound {
       status = "okay";
       semidrive,audio-codec = <&tlv320aic23>;
       xen,passthrough;
};

&gpu0 {
	status = "okay";
	xen,passthrough;
        xen,mids = <56>;
	sid = <SDRV_SID_GPU0>;
};

&gpu1 {
	status = "okay";
	xen,passthrough;
        xen,mids = <64>;
	sid = <SDRV_SID_GPU1>;
};

&vdsp {
	status = "okay";
        xen,passthrough;
};

&vdsp_ipc {
	status = "okay";
        xen,passthrough;
};

&rstgen {
	reg = <0x0 0x38467000 0x0 0x1000>,	/* vpu1 */
		<0x0 0x38468000 0x0 0x1000>,	/* vpu2 */
                <0x0 0x3846f000 0x0 0x1000>;	/* pcie1 */
	rstgen_resource = <
		RSTGEN_MODULE_VPU1
		RSTGEN_MODULE_VPU2
                RSTGEN_MODULE_PCIE1
		>;
	status = "okay";
        xen,passthrough;
};

&mbox {
	status = "okay";
};

&rpmsg0 {
	memory-region = <&rproc_0_safety>;
	reg = <0x0 RPMSG0_MEM_HEAD_BASE 0x0 RPMSG0_MEM_HEAD_SIZE>;
	status = "okay";
};

&rpmsg1 {
	memory-region = <&rproc_1_secure>;
	reg = <0x0 RPMSG1_MEM_HEAD_BASE 0x0 RPMSG1_MEM_HEAD_SIZE>;
	status = "okay";
};

&ipcc0 {
	status = "okay";
};

&ipcc1 {
	status = "okay";
};

&regctl {
	reg = <0x0 0x38415000 0x0 0x1000>,
              <0x0 0x38418000 0x0 0x1000>,
              <0x0 0x38419000 0x0 0x1000>;
	reg-names = "SDRV_REG_REMAP",
			"SDRV_REG_BOOTREASON",
                        "SDRV_REG_HWID";
	status = "okay";
        xen,passthrough;
};

&ion {
	status = "okay";
        xen,passthrough;
};

&hwsema {
        status = "disabled";
};

&scr_sec {
        status = "okay";
        xen,passthrough;
};

&csi0 {
	mbus-type = "mipi-csi2";
	pclk-sample = <1>;
	status = "okay";
        xen,passthrough;
        xen,mids = <16>;
        sid = <SDRV_SID_CSI0>;
	ports {
		csi0_stream0: port@0 {
			csi0_stream0_in: endpoint@0 {
				remote-endpoint = <&csimipi0_0_out>;
			};
		};
		csi0_stream1: port@1 {
			csi0_stream1_in: endpoint@0 {
				remote-endpoint = <&csimipi0_1_out>;
			};
		};
		csi0_stream2: port@2 {
			csi0_stream2_in: endpoint@0 {
				remote-endpoint = <&csimipi0_2_out>;
			};
		};
		csi0_stream3: port@3 {
			csi0_stream3_in: endpoint@0 {
				remote-endpoint = <&csimipi0_3_out>;
			};
		};
	};
};

&csi1 {
	mbus-type = "mipi-csi2";
	pclk-sample = <1>;
	status = "okay";
        xen,passthrough;
        xen,mids = <17>;
        sid = <SDRV_SID_CSI1>;

	ports {
		csi1_stream0: port@0 {
			csi1_stream0_in: endpoint@0 {
				remote-endpoint = <&csimipi1_0_out>;
			};
		};
		csi1_stream1: port@1 {
			csi1_stream1_in: endpoint@0 {
				remote-endpoint = <&csimipi1_1_out>;
			};
		};
		csi1_stream2: port@2 {
			csi1_stream2_in: endpoint@0 {
				remote-endpoint = <&csimipi1_2_out>;
			};
		};
		csi1_stream3: port@3 {
			csi1_stream3_in: endpoint@0 {
				remote-endpoint = <&csimipi1_3_out>;
			};
		};
	};
};

&csi2 {
	mbus-type = "parallel";
	pclk-sample = <1>;
	status = "okay";
        xen,passthrough;
        xen,mids = <18>;
        sid = <SDRV_SID_CSI2>;

	ports {
		csi2_stream0: port@0 {
			csi2_stream0_in: endpoint@0 {
				remote-endpoint = <&csiparalle0_out>;
			};
		};

		csi2_stream1: port@1 {
			csi2_stream1_in: endpoint@0 {
				remote-endpoint = <&csiparalle1_out>;
			};
		};
	};
};

&csimipi0 {
	status = "okay";
	lanerate = <72000000>;
	hsa = <10>;
	hbp = <20>;
	hsd = <0x60>;
	output-type = <0x1e>;
        xen,passthrough;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			csimipi0_0_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_0>;
				reg = <0>;
			};
			csimipi0_0_out: endpoint@1 {
				remote-endpoint = <&csi0_stream0_in>;
				reg = <0>;
			};
		};
		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			csimipi0_1_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_1>;
				reg = <1>;
			};
			csimipi0_1_out: endpoint@1 {
				remote-endpoint = <&csi0_stream1_in>;
				reg = <1>;
			};
		};
		port@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			csimipi0_2_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_2>;
				reg = <2>;
			};
			csimipi0_2_out: endpoint@1 {
				remote-endpoint = <&csi0_stream2_in>;
				reg = <2>;
			};
		};
		port@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			csimipi0_3_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_3>;
				reg = <3>;
			};
			csimipi0_3_out: endpoint@1 {
				remote-endpoint = <&csi0_stream3_in>;
				reg = <3>;
			};
		};
	};
};

&csimipi1 {
	status = "okay";
	lanerate = <72000000>;
	hsa = <10>;
	hbp = <20>;
	hsd = <0x60>;
	output-type = <0x1e>;
        xen,passthrough;
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			csimipi1_0_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_0>;
				reg = <0>;
			};
			csimipi1_0_out: endpoint@1 {
				remote-endpoint = <&csi1_stream0_in>;
				reg = <0>;
			};
		};
		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			csimipi1_1_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_1>;
				reg = <1>;
			};
			csimipi1_1_out: endpoint@1 {
				remote-endpoint = <&csi1_stream1_in>;
				reg = <1>;
			};
		};
		port@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			csimipi1_2_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_2>;
				reg = <2>;
			};
			csimipi1_2_out: endpoint@1 {
				remote-endpoint = <&csi1_stream2_in>;
				reg = <2>;
			};
		};
		port@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			csimipi1_3_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_3>;
				reg = <3>;
			};
			csimipi1_3_out: endpoint@1 {
				remote-endpoint = <&csi1_stream3_in>;
				reg = <3>;
			};
		};
	};
};

&csiparallel0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
        xen,passthrough;

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
		csiparallel0_in: endpoint@0 {
			remote-endpoint = <&max96706_to_parallel>;
		};

		csiparallel0_out: endpoint@1 {
			remote-endpoint = <&csi2_stream0_in>;
		};
	};
};

&csiparallel1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
        xen,passthrough;

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
		csiparallel1_in: endpoint@0 {
			remote-endpoint = <&ov5640_to_parallel>;
		};

		csiparallel1_out: endpoint@1 {
			remote-endpoint = <&csi2_stream1_in>;
		};
	};
};

&pcie1 {
        resets = <&rstgen RSTGEN_MODULE_PCIE1>;
	reset-names = "pcie-reset";
	status = "okay";
        xen,passthrough;
        xen,mids = <80>;
        xen,mids = <80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95>;
        sid = <SDRV_SID_PCIE0>;
};

&vce1 {
   /*
 	* op-mode options:
 	* bit 0: rng enable(1) or disable(0)
 	* bit 1: ce enable(1) or disable(0)
 	*/
 	op-mode = <3>;
	status = "okay";
};

&vce2 {
   /*
 	* op-mode options:
 	* bit 0: rng enable(1) or disable(0)
 	* bit 1: ce enable(1) or disable(0)
 	*/
 	op-mode = <3>;
	status = "okay";
	xen,passthrough;
};

&vce3 {
   /*
 	* op-mode options:
 	* bit 0: rng enable(1) or disable(0)
 	* bit 1: ce enable(1) or disable(0)
 	*/
 	op-mode = <3>;
	status = "okay";
	xen,passthrough;
};

&g2d {
     status = "okay";
     xen,passthrough;
     xen,mids = <27>;
     sid = <SDRV_SID_G2D1>;
};

&adc_ap {
	status = "okay";
        xen,passthrough;
};
