/*
 * Semidrive kunlun platform DTS file
 *
 * Copyright (C) 2019, Semidrive  Communications Inc.
 *
 * This file is licensed under a dual GPLv2 or X11 license.
 */

/dts-v1/;
#include "v9t_ap.dtsi"
#include "v9ts_ref_a-clk-ctrl.dtsi"
#include "lcd-timings.dtsi"
#include <dt-bindings/pinctrl/pins-sdx9.h>
#include <dt-bindings/memmap/v9ts/projects/default/side_a/image_cfg.h>
#include <dt-bindings/memory/sdrv_ion.h>
#include <dt-bindings/rpmsg/sd,x9h-default.h>

/ {
	model = "Semidrive kunlun v9 REF Board";

	compatible = "semidrive,kunlun";

	aliases {
		serial0 = &uart14;
		ethernet2 = &ethernet2;
	};

	memory@50000000 {
		device_type = "memory";
		reg = <HIGH32(AP1_KERNEL_MEMBASE-0x80000) LOW32(AP1_KERNEL_MEMBASE-0x80000) HIGH32(AP1_KERNEL_MEMSIZE) LOW32(AP1_KERNEL_MEMSIZE) \
		       0x0 (VDSP_SHARE_MEMBASE+0x4000) 0x0 (VDSP_SHARE_MEMSIZE-0x4000)>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Default Common CMA Pool */
		/* QUIRK: Must be kept in the lower 4096 MiBs of DRAM banks for VE */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x40000000>; /* 1024MB */
			/* 4GB maximum in case of 32-bit only capable devices */
			alloc-ranges = <0x0 0x0 0x0 0xffffffff>;
			linux,cma-default;
		};

		xrp_reserved: xrp@0 {
			compatible = "shared-dma-pool";
			status = "okay";
			no-map;
			reg = <0x0 VDSP_SHARE_MEMBASE 0x0 0x4000>;
		};

		xrp_shared: xrp,shmem {
			reg = <0x0 (VDSP_SHARE_MEMBASE+0x4000) 0x0 (VDSP_SHARE_MEMSIZE-0x4000)>;
		};

	};

	chosen {
		bootargs = "skip_initramfs noinitrd root=/dev/mmcblk0p7 rootfstype=ext4 rootwait rw init=/sbin/init highres=1 earlycon loglevel=11 console=ttyS0,115200n8 fbcon=map:1";
		stdout-path = "serial0";
	};

	vdd_1v8: fixed-vdd_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&dmac2 {
	status = "okay";
};
&dmac3 {
	status = "okay";
};
&dmac4 {
	status = "okay";
};

&dmac5 {
	status = "okay";
};
&dmac6 {
	status = "okay";
};

&dmac7 {
	status = "okay";
};

&csi0 {
	mbus-type = "mipi-csi2";
	pclk-sample = <1>;
	status = "okay";

	ports {
		csi0_stream0: port@0 {
			csi0_stream0_in: endpoint@0 {
				remote-endpoint = <&csimipi0_0_out>;
			};
		};
		csi0_stream1: port@1 {
			csi0_stream1_in: endpoint@0 {
				remote-endpoint = <&csimipi0_1_out>;
			};
		};
		csi0_stream2: port@2 {
			csi0_stream2_in: endpoint@0 {
				remote-endpoint = <&csimipi0_2_out>;
			};
		};
		csi0_stream3: port@3 {
			csi0_stream3_in: endpoint@0 {
				remote-endpoint = <&csimipi0_3_out>;
			};
		};
	};
};

&csi1 {
	mbus-type = "mipi-csi2";
	pclk-sample = <1>;
	status = "okay";

	ports {
		csi1_stream0: port@0 {
			csi1_stream0_in: endpoint@0 {
				remote-endpoint = <&csimipi1_0_out>;
			};
		};
		csi1_stream1: port@1 {
			csi1_stream1_in: endpoint@0 {
				remote-endpoint = <&csimipi1_1_out>;
			};
		};
		csi1_stream2: port@2 {
			csi1_stream2_in: endpoint@0 {
				remote-endpoint = <&csimipi1_2_out>;
			};
		};
		csi1_stream3: port@3 {
			csi1_stream3_in: endpoint@0 {
				remote-endpoint = <&csimipi1_3_out>;
			};
		};
	};
};
&csi2 {
	status = "disabled";
};
&csimipi0 {
	status = "okay";
	lanerate = <72000000>;
	hsa = <10>;
	hbp = <20>;
	hsd = <0x60>;
	output-type = <0x1e>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			csimipi0_0_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_0>;
				reg = <0>;
			};
			csimipi0_0_out: endpoint@1 {
				remote-endpoint = <&csi0_stream0_in>;
				reg = <0>;
			};
		};
		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			csimipi0_1_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_1>;
				reg = <1>;
			};
			csimipi0_1_out: endpoint@1 {
				remote-endpoint = <&csi0_stream1_in>;
				reg = <1>;
			};
		};
		port@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			csimipi0_2_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_2>;
				reg = <2>;
			};
			csimipi0_2_out: endpoint@1 {
				remote-endpoint = <&csi0_stream2_in>;
				reg = <2>;
			};
		};
		port@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			csimipi0_3_in: endpoint@0 {
				remote-endpoint = <&max9286_to_mipi_3>;
				reg = <3>;
			};
			csimipi0_3_out: endpoint@1 {
				remote-endpoint = <&csi0_stream3_in>;
				reg = <3>;
			};
		};
	};
};
&csimipi1 {
	status = "okay";
	lanerate = <72000000>;
	hsa = <10>;
	hbp = <20>;
	hsd = <0x60>;
	output-type = <0x1e>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			csimipi1_0_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_0>;
				reg = <0>;
			};
			csimipi1_0_out: endpoint@1 {
				remote-endpoint = <&csi1_stream0_in>;
				reg = <0>;
			};
		};
		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			csimipi1_1_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_1>;
				reg = <1>;
			};
			csimipi1_1_out: endpoint@1 {
				remote-endpoint = <&csi1_stream1_in>;
				reg = <1>;
			};
		};
		port@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			csimipi1_2_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_2>;
				reg = <2>;
			};
			csimipi1_2_out: endpoint@1 {
				remote-endpoint = <&csi1_stream2_in>;
				reg = <2>;
			};
		};
		port@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			csimipi1_3_in: endpoint@0 {
				remote-endpoint = <&max9286s_to_mipi_3>;
				reg = <3>;
			};
			csimipi1_3_out: endpoint@1 {
				remote-endpoint = <&csi1_stream3_in>;
				reg = <3>;
			};
		};
	};
};
&csiparallel0 {
	status = "disabled";
};

&i2c5 {
        status = "disabled";
};

&i2c6 {
        status = "disabled";
};

&i2c7 {
        status = "disabled";
};

&i2c8 {
	status = "disabled";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "disabled";
};

&i2c11 {
	status = "okay";

	tlv320aic23: codec@1b {
	compatible = "ti,tlv320aic23";
		reg = <0x1b>;
	};

	ext_gpio74: gpio@74 {
		compatible = "ti,tca9539";
		reg = <0x74>;
		#gpio-cells = <2>;
		gpio-controller;
	};
	ext_gpio: gpio@75 {
		compatible = "ti,tca9539";
		reg = <0x75>;
		#gpio-cells = <2>;
		gpio-controller;
	};
	tp_gpio: gpio@76 {
		compatible = "ti,tca9539";
		reg = <0x76>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&i2c12 {
	status = "okay";

	max9286:max9286@2c {
		compatible = "max,max9286";
		reg = <0x2c>;
		pwdn-gpios = <&port4d 13 0>;
		addr_20086 = /bits/ 16 <0x2a>;
		addr_96705 = /bits/ 16 <0x40>;
		addr_0101 = /bits/ 16 <0x5d>;
		semidrive,poc = <&i2c9>;
		ports {
			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286_to_mipi_0: endpoint {
					remote-endpoint = <&csimipi0_0_in>;
				};
			};
			port@1 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286_to_mipi_1: endpoint {
					remote-endpoint = <&csimipi0_1_in>;
				};
			};
			port@2 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286_to_mipi_2: endpoint {
					remote-endpoint = <&csimipi0_2_in>;
				};
			};
			port@3 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286_to_mipi_3: endpoint {
					remote-endpoint = <&csimipi0_3_in>;
				};
			};
		};
	};

	max9286s:max9286@6a {
		compatible = "max,max9286";
		reg = <0x6a>;
		pwdn-gpios = <&port4d 19 0>;
		addr_20086 = /bits/ 16 <0x2b>;
		addr_96705 = /bits/ 16 <0x40>;
		addr_0101 = /bits/ 16 <0x5d>;
		semidrive,poc = <&i2c9>;
		sec_9286 = <1>;

		ports {
			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286s_to_mipi_0: endpoint {
					remote-endpoint = <&csimipi1_0_in>;
				};
			};
			port@1 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286s_to_mipi_1: endpoint {
					remote-endpoint = <&csimipi1_1_in>;
				};
			};
			port@2 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286s_to_mipi_2: endpoint {
					remote-endpoint = <&csimipi1_2_in>;
				};
			};
			port@3 {
				#address-cells = <1>;
				#size-cells = <0>;

				max9286s_to_mipi_3: endpoint {
					remote-endpoint = <&csimipi1_3_in>;
				};
			};
		};
	};
};


&i2c13 {
	status = "disabled";
};

&i2c14 {
	status = "disabled";
};

&i2c15 {
	status = "disabled";
};

&uart14 {
	dmas = <&dmac4 X9_DMA_SLV_ID_UART15_TX>, <&dmac4 X9_DMA_SLV_ID_UART15_RX>;
	dma-names = "tx", "rx";
	status = "okay";
};

&generic_timer {
	status = "okay";
};

&adc_ap {
	resolution_value = <0x03>; /*ADC_6_BITS_E0 = 0x00 , ADC_8_BITS_E1 = 0x01 , ADC_10_BITS_E2 = 0x02 , ADC_12_BITS_E3 = 0x03*/
	clksrc_sel = <0x00>; /*ADC_SRC_CLK_ALT_E0 = 0x00 , ADC_SRC_CLK_PCLK_E1 = 0x01 , ADC_SRC_CLK_EXT_E2 = 0x02*/
	clk_value = <24000000>;
	use-adc-fifo;
	vref-supply = <&vdd_1v8>;
	status = "disabled";
};

&vpu2 {
	resets = <&rstgen RSTGEN_MODULE_VPU2>;
	reset-names = "vpu-reset";
	status = "okay";
};

&jpu {
	resets = <&rstgen RSTGEN_MODULE_MJPEG>;
	reset-names = "jpu-reset";
	status = "okay";
};

&g2d {
	status = "okay";
};

&display {
	sdriv,crtc = <&crtc0>;
	status = "okay";
};

&gpu0 {
	status = "okay";
};

&vdsp {
	reg = <0x0 VDSP_SHARE_MEMBASE 0x0 0x1000>, /* DSP command queue */
	      <0x0 (VDSP_SHARE_MEMBASE+0x4000) 0x0 (VDSP_SHARE_MEMSIZE-0x4000)>, /* DSP shared memory */
	      <0x0 0x34040000 0x0 0x1000>, /* vdsp mu base address, pass to vdsp, won't map */
	      <0x0 0x38316000 0x0 0x1000>, /* scr 0x458 */
	      <0x0 0x3839e000 0x0 0x1000>, /* scr 0x678 */
	      <0x0 0x38401000 0x0 0x2000>, /* rstgen core 0 */
	      <0x0 0x38466000 0x0 0x1000>; /* rstgen module 38 */
	firmware-name = "xtensa.elf";
	firmware-entry = <VDSP_MEMBASE>;
	/*data ram0, data ram1, system ram, shared ram*/
	ranges = <0x0 0x00a00000 0x0 0x00a00000 0x0 0x00020000
		  0x0 0x00a20000 0x0 0x00a20000 0x0 0x00020000
                  0x0 LOW32(AP1_KERNEL_MEMBASE-0x80000) 0x0 LOW32(AP1_KERNEL_MEMBASE-0x80000) 0x0 LOW32(0x100000000-AP1_KERNEL_MEMBASE+0x80000)
		  0x0 VDSP_MEMBASE 0x0 VDSP_MEMBASE 0x0 VDSP_MEMSIZE
		  0x0 VDSP_SHARE_MEMBASE 0x0 VDSP_SHARE_MEMBASE 0x0 VDSP_SHARE_MEMSIZE>;
	status = "okay";
};

&crtc0 {
	status = "okay";
};

&parallel0 {
	status = "okay";
};

&dtimings0 {
	native-mode = <&hsd_fhd1920x720>;
};

&ptimings0 {
	status = "okay";
};

&pinctrl {
	reg = <0x0 0x37000000 0x0 0x10000>;
	pinctrl-names = "default";

	sdx9-evk {
		pinctrl_mshc1: mshc1grp {
		kunlun,pins = <
			X9_PINCTRL_EMMC1_CLK__MSHC1_CLK_1 		X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_CMD__MSHC1_CMD_1		X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA0__MSHC1_DATA_0_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA1__MSHC1_DATA_1_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA2__MSHC1_DATA_2_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA3__MSHC1_DATA_3_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA4__MSHC1_DATA_4_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA5__MSHC1_DATA_5_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA6__MSHC1_DATA_6_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA7__MSHC1_DATA_7_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_STROBE__MSHC1_STB_1		X9_PINCTRL_OPEN_DRAIN_ENABLE
			X9_PINCTRL_EMMC1_RESET_N__MSHC1_RST_N_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			>;
		};

		pinctrl_gpiotouch_lvds: touchgrp_lvds {
                        kunlun,pins = <
			X9_PINCTRL_I2S_MC_SD4__GPIO_MUX2_IO80_1          0x00
			X9_PINCTRL_I2S_MC_SD5__GPIO_MUX2_IO81_1          0x00
                        X9_PINCTRL_I2S_MC_SD6__GPIO_MUX2_IO82_1          0x00
                        X9_PINCTRL_I2S_MC_SD7__GPIO_MUX2_IO83_1          0x00
                        >;
                };
		pinctrl_gpiotouch_mipi: touchgrp_mipi {
                        kunlun,pins = <
			X9_PINCTRL_EMMC2_CLK__GPIO_MUX2_IO96_1          0x00
			X9_PINCTRL_EMMC2_CMD__GPIO_MUX2_IO97_1          0x00
                        >;
                };
	};
};

&gpio4 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_gpiotouch_lvds &pinctrl_gpiotouch_mipi>;
	status = "okay";
};
&sdhci1 {
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	card-is-emmc;
	disable-wp;
	cap-mmc-highspeed;
	keep-power-in-suspend;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&sdhci3 {
	#clock-cells = <1>;
	clocks = <&EMMC3>;
	clock-names = "core";
	max-frequency = <25000000>;
	bus-width = <4>;
	no-1-8-v;
	no-mmc;
	no-sdio;
	disable-wp;
	keep-power-in-suspend;
	status = "okay";
};

&mbox {
	status = "okay";
};

&mbox_test {
	status = "okay";
};


&ipcc0 {
	status = "okay";
};

&ipcc1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&ethernet2 {
	status = "okay";
};

&rstgen {
	reg = <0x0 0x38467000 0x0 0x1000>,	/* vpu1 */
		<0x0 0x38468000 0x0 0x1000>,	/* vpu2 */
		<0x0 0x38469000 0x0 0x1000>,	/* mjpeg */
		<0x0 0x38490000 0x0 0x1000>,	/* gpu1 core */
		<0x0 0x38491000 0x0 0x1000>,	/* gpu1 ss */
		<0x0 0x38461000 0x0 0x1000>,	/* GIC4 */
		<0x0 0x38455000 0x0 0x1000>,	/* cpu1 core0 warm */
		<0x0 0x38456000 0x0 0x1000>,	/* cpu1 core1 warm */
		<0x0 0x38457000 0x0 0x1000>,	/* cpu1 core2 warm */
		<0x0 0x38458000 0x0 0x1000>,	/* cpu1 core3 warm */
		<0x0 0x3845b000 0x0 0x1000>,	/* cpu1 scu warm */
		<0x0 0x3846d000 0x0 0x1000>,	/* cpu1 ss */
		<0x0 0x38407000 0x0 0x2000>;	/* cpu1 all core */
	rstgen_resource = <
		RSTGEN_MODULE_VPU1
		RSTGEN_MODULE_VPU2
		RSTGEN_MODULE_MJPEG
		RSTGEN_MODULE_GPU1_CORE
		RSTGEN_MODULE_GPU1_SS
		RSTGEN_MODULE_GIC4
		RSTGEN_MODULE_CPU1_CORE0_WARM
		RSTGEN_MODULE_CPU1_CORE1_WARM
		RSTGEN_MODULE_CPU1_CORE2_WARM
		RSTGEN_MODULE_CPU1_CORE3_WARM
		RSTGEN_MODULE_CPU1_SCU_WARM
		RSTGEN_MODULE_CPU1_SS
		RSTGEN_CORE_CPU1_ALL
		>;
	status = "okay";
};

&regctl {
	reg = <0x0 0x38415000 0x0 0x1000>,
		<0x0 0x38418000 0x0 0x1000>,
		<0x0 0x38419000 0x0 0x1000>,
		<0x0 0x3841a000 0x0 0x1000>;
	reg-names = "SDRV_REG_REMAP",
			"SDRV_REG_BOOTREASON",
			"SDRV_REG_HWID",
			"SDRV_REG_STATUS";
	status = "okay";
};

&ion {
	status = "okay";
};

&hwsema {
        status = "okay";
};

&scr_sec {
        status = "okay";
};

&watchdog5 {
	wdt,auto-run = "false";
	status = "okay";
};

&pcie1 {
	status = "okay";
	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};
